.answerBox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}

.answerBox.is-show{
    opacity: 1;
    visibility: visible;
}

.answerBox__inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
}

.black-background{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 1;
    cursor: pointer;
}

.answerBox__close-btn{
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}



.resultBox{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: .6s;
}

.resultBox.is-show-result{
    opacity: 1;
    visibility: visible;
}

.resultBox__inner{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 600px;
    padding: 50px;
    background-color: #fff;
    z-index: 2;
}


.resultBox__inner__buttons{
    display: flex;
    width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 15px;
}

.resultBox__inner__buttons__close-btn{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}
.resultBox__inner__buttons__close-btn:hover{
    opacity: .7;
    transition: .2s;
}

.buttons__inner__buttons__returnTop{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    margin-left: 15px;
}







.buttons{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    width: 200px;
}


.buttons__reloadBtn{
    height: 30px;
    width: 100px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    /* margin-left: 20%; */
}

.buttons__reloadBtn:hover{
    color: #fff;
    opacity: .6;
    transition: .2s;
}


.buttons__returnTop{
    height: 30px;
    width: 100px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    margin-left: 10px;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: #fff;
    opacity: .6;
    transition: .2s;
    }

.question-number{
    width: 60px;
    height: 30px;
    background-color: #333;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
}

.resultBox__inner__twitter{
    margin: 0 auto;
    margin-top: 30px;
    width: 60px;
}




/* トップページ */
h1{
    font-size: 50px;
    font-weight: bold;
    width: 300px;
    display: block;
    margin: 50px auto;
}

.startBtn{
    display: block;
    height: 50px;
    width: 200px;
    color: #fff;
    background-color: #333;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    font-size: 30px;
    margin: auto;
}

.startBtn:hover{
    color: #fff;
    opacity: .6;
    transition: .2s;
}

